<header class="font-l nowrap">
  <div>
    <span class="rel top-8">PANDORE ROSSi</span>
    <span class="rel top-8">||</span>
    <span class="rel top-8">
      ☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎☽☼☀︎
    </span>
  </div>
  <div class="rel top--24">
    ................................................................................................................................................................................
  </div>
</header>

