<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css?refreshcss=1' />
</head>

<body>
  <main><%- body %></main>
</body>

</html>