<%- include('./partials/_header.ejs') %>

<h2 class="index-description">
  <span>Using sound, installation and software, Pandore Rossi questions capitalist mass culture from the angle of collective trauma.</span>
  <span>Focusing on individual micro-fictions and their ability to reweave shared imaginaries,</span> 
  <span>her practice considers sonic artifacts and remains of ... of as potential tools for healing and repair.</span>
</h2>

<div class="index-portfolio-link">
  <a>Portfolio PDF</a>
</div>

<%- include('./partials/_footer.ejs') %>

<style>
  .index-description {
    width: 50vw;
    margin-left: 5vw;
    line-height: 200%;
  }

  .index-portfolio-link {
    margin-top: 5vh;
    margin-left: 5vw;
  }
</style>