<%- include('./partials/_header.ejs') %>

<h2 class="ml-5 lineheight-xl width-s font-m text-justify">
  <span>Using sound, installation and software, Pandore Rossi questions capitalist mass culture from the angle of
    collective trauma.</span>
  <span>Focusing on individual micro-fictions and their ability to reweave shared imaginaries,</span>
  <span>her practice considers sonic artifacts and digital remains as potential tools for healing and repair.</span>
</h2>

<div class="mt-10 ml-5">
  <a class="green-link font-l" href="https://gx-public-assets.lon1.cdn.digitaloceanspaces.com/pdf/Portfolio_EN_DOC_3.pdf" target="_blank">
    >>>> PORTFOLIO.PDF
  </a>
</div>